.delete {
  background-color: rgba(209, 255, 118, 0.64);
  background-color: rgba(178, 217, 100, 0.765);
  background-color: rgba(217, 199, 0, 0.487);
  background-color: rgba(76, 209, 4, 0.335);
  background-color: rgba(63, 180, 0, 0.906);
  background-color: rgba(216, 216, 0, 0.314);
  background-color: rgba(255, 238, 0, 0.469);
}

/* _hover= {
    {
    bg: 'rgba(209, 255, 118, 0.64)'
  }
} */